article{
	border: 2px solid pink;
	border-radius: 12px;
	margin: 10px;
	padding: 10px 30px 10px 20px;
	}
	div{
	background: white;
	}
	body{
	background: url(html/pattern-squares-grid-dotes-2.png) repeat;
	}
	strong{
	font-family:"Caveat";
	}
		  p {
		color: white;
	text-align: right;
	margin: 10px;
		  }
		  h1 {
		color: #d48770;
	font-family:"Roboto";
	text-align: right;
	margin: 10px;
		  }
		  h2 {
		color: #d48770;
	font-family:"Roboto";
	text-align: right;
	margin: 10px;
		  }
		  em {
		color: #70cc79;
	font-style:italic;
		  }
		  .wrapper {
		max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
		  }