
		body{
		    background-color: black;
		}
      	p {
        	color: white;
		    text-align: right;
      	}
      	h1 {
        	color: #d48770;
		    font-family:sans-serif;
		    text-align: right;
      	}
      	h2 {
            color: #d48770;
		    font-family:sans-serif;
		    text-align: right;
      	}
      	em {
        	color: #70cc79;
		    font-style:italic;
      	}
      	.wrapper {
        	max-width: 60rem;
		    margin-left: auto;
		    margin-right: auto;
		    padding-left: 10px;
		    padding-right: 10px;
      	}